.header {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto
}

.header__navbar-search {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 6px 6px 6px 10px;
    margin-left: 20px;
}

.header__navbar-search:active {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 14%);
    color: #000;
}

.header__navbar-right-item-host::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fb9236;
    right: 457px;
    top: 29px;
}


svg:hover {
    color: #f65e39;
}

.header__navbar-search-box::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50%;
    top: 50%;
    background: #e7e7e7;
    transform: translateY(-50%);
}

.header__navbar-search-box-icon {
    font-size: 1.2rem;
    margin-right: 6px;
    margin-left: 10px;
}

.search-input {
    outline: transparent;
    width: 258px;
    border: none;
    font-size: 1.4rem;
}


.header__navbar-date {
    margin: 0 ;
}

.header__navbar-date::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50%;
    top: 50%;
    background: #e7e7e7;
    transform: translateY(-50%);
}

.header__navbar-date-text {
    font-size: 1.4rem;
    
}

.header__navbar-date-icon {
    font-size: 1.2rem;
    margin-right: 6px;
}

.header__navbar-date-btn {
    border: none;
    width: 110px;
}

.header__navbar-guest {
    margin: 0 20px;
}

.header__navbar-guest-text {
    font-size: 1.4rem;
}

.header__navbar-guest-icon {
    font-size: 1.2rem;
    margin-right: 6px;
    
}

.header__navbar-guest-btn {
    border: none;
}

.header__navbar-main-search-btn {
    width: 60px;
    height: 36px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.header__navbar-main-search-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__navbar-right {
    margin-left: auto;
}

.header__navbar-right-link {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.header__navbar-right-item {
    padding: 0 20px 0 0;
    list-style: none;
    
}

.header__navbar-right-item a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222;
}

.header__navbar-right-item:hover a {
    color: #f65e39;
}

.header__navbar-right-item:last-child a {
    position: relative;
    top: -4px;
}
.header__navbar-location-img {
    width: 20px;
    margin-right: 5px;
}

.header__navbar-right-item-icon {
    position: absolute;
    top: 31px;
    margin-left: 5px;
}

.slider__content {
    padding-top: 10%;
}

.slider__content-img {
    width: 100%;
    border-radius: 20px;
}

/* Content */

.content__header-welcome {
    margin-top: 54px;
}

.content__header-welcome-heading {
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.content__header-welcome-description {
    font-size: 1.6rem;
    margin-top: 5px 0;
    color: #222;
}

.content__header-welcome-description a {
    color: #222;
}

.content__place-about {
    margin-top: 20px;
}

.content__place-about-heading {
    font-size: 2.2rem;
}

.content__place-about-description {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #222;
}

.content__place {
    display: flex;
    margin-top: -30px;
}

.content__place-link {
    position: relative;
}

.content__place-item {
    margin-right: 30px;
}

.content__place-img {
    width: 236px;
    height: 294px;
    border-radius: 5px;
}

.content__place-description {
    position: absolute;
    bottom: 6px;
    margin-left: 32px;
    cursor: pointer;
}

.content__place-area {
    color: var(--white-color);
    font-size: 2.2rem;
    margin: 0;
}

.content_place-slot {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.content__offer-heading {
    font-size: 2.2rem;
    margin: 0;
}

.content__offer-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__offer-description-about {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #222;
}

.content__offer-description-more {
    font-size: 1.6rem;
    margin-top: 5px 0;
    color: #f65e39;
    text-decoration: none;
}
.content__offer-link {
    display: flex;
}

.content__offer-item {
    margin-right: 20px;
    cursor: pointer;
}

.content__offer-img {
    width: 421px;
    height: 184px;
    border-radius: 10px;
}

.content__suggest-title-heading {
    margin-top: 70px;
    font-size: 2.2rem;
}

.content__suggest-title-description {
    font-size: 1.6rem;
    margin-top: 20px;
}

.content__suggest-link {
    display: flex;
    margin-top: -30px;
}

.content__suggest-content {
    margin-right: 18px;
}

.content__suggest-img {
    width: 312px;
    height: 192px;
    border-radius: 3px;
}

.content__suggest-item {
    text-decoration: none;
    display: block;
    
}

.content__suggest-heading {
    font-size: 1.2rem;
    color: #555;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.content__suggest-description {
    text-decoration: none;
    color: #212731;
    font-size: 1.55rem;
    line-height: 1.6;
    margin-top: 10px;
}

.content__suggest-description:hover {
    color: #f65e39;
}

.button-direction-btn-suggest-right {
    position: relative;
    z-index: 1;
    top: -211px;
    right: -1277px;
    margin-top: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
}

.button-direction-btn-suggest-left {
    position: relative;
    z-index: 1;
    top: 115px;
    left: -32px;
    opacity: 0.5;
    width: 56px;
    height: 56px;
    margin-top: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
} 

.content__explore {
    display: flex;
    margin-top: -40px;
}

.content__explore-link {
    margin-right: 15px;
    position: relative;
}

.content__explore-img {
    width: 424px;
    height: 265px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content__explore-info-background {
    background-color: #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    border-radius: 20px;
    padding: 6px 0;
    position: absolute;
    top: 24px;
    left: 25px;
}

.content__explore-info-background:hover {
    background-color: #5f5f5f;
    cursor: pointer;
}

.content__explore-info-text {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.content__explore-heading {
    position: absolute;
    bottom: 25px;
    left: 24px;
    max-width: 400px;
}

.content__explore-heading-text {
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--white-color);
}

.content__suggest-explore-heading {
    font-size: 2.2rem;
    margin: 0;

}

.content__suggest-explore-description {
    font-size: 1.6rem;
    margin-top: 20px;
}

.button-direction-btn-explore-left {
    position: relative;
    z-index: 1;
    top: 122px;
    left: -32px;
    opacity: 0.5;
    width: 56px;
    height: 56px;
    margin-top: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
}

.button-direction-btn-explore-right {
    position: relative;
    z-index: 1;
    top: -166px;
    right: -1277px;
    margin-top: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
}

.content__tutorial-heading {
    font-size: 2.2rem;
    margin: 0;
}

.content__tutorial-description {
    font-size: 1.6rem;
    margin-top: 20px;
}

.content__tutorial-link {
    display: flex;
    margin-top: 20px;
}

.content__tutorial-item {
    margin-right: 16px;
    cursor: pointer;
}

.content__tutorial-img {
    width: 248px;
    height: 138px;
}

.qr__code {
    border: 1px solid rgba(0,0,0,.09);;
    padding: 12px;
    margin-right: 45px;
}

.qr__code-img {
    width: 160px;

}

.download__app-col-1 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 36px;
}

.apple-store-img {
    margin-bottom: 36px;
    cursor: pointer;
}

.app-galerry-img {
    margin-top: 16px;
    cursor: pointer;
}

.google-play-img {
    cursor: pointer;
}

.content__download-logo {
    width: 343px;
}

.content__download-heading {
    font-size: 3rem;
}

.content__download-description {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 50px;
}

.banner-mobile-img {
    max-width: 100%;
    height: auto;
}

.content__download {
    display: flex;
    margin-top: 100px;
}

.messenger {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.messenger__logo {
    margin-right: 10px;
    margin: 10px 10px 0 0;
}

.messenger__contact {
    margin-top: 20px;

}

.messenger__contact-heading {
    margin: 0 0 10px 0;
}

.messenger__contact-text {
    font-size: 1.4rem;
}

.messenger__contact-text:hover {
    color: #f65e39;
    cursor: pointer;
}

.phone {
    display: flex;
    align-items: center;
}

.phone__logo {
    margin-right: 10px;
    margin: 0 10px 0 0;
}

.phone__contact-text-1 {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 10px;
    width: 200px;
    padding: 0;
    margin: 0 0 5px 0;
}

.phone__contact-text-1:hover {
    color: #f65e39;
    cursor: pointer;
}

.phone__contact-text-2:hover {
    color: #f65e39;
    cursor: pointer;
}

.phone__contact-text-2 {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 10px;
    padding: 0;
    margin: 0;
}

.footer__qr-code-img {
    margin-right: 30px;
    padding: 10px;
    border: 1px solid var(--border-color);
    width: 87px;
    height: 87px;
}

.footer__download-logo {
    width: 170px;
    height: 36px;
}

.footer__explore-destination-heading {
    font-size: 1.6rem;
    width: 200px;
}

.footer__contact-socials {
    margin-right: 90px;
    margin-top: 20px;
}

.footer__explore-destination {
    margin-right: 90px;
}

.footer__explore-destination-list {
    padding: 0;
}

.footer__explore-destination-location {
    list-style: none;
    padding: 0;
}

.footer__explore-destination-location:hover a {
    color: #f65e39;
}

.footer__explore-destination-location a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #222;
    line-height: 1.9;
}

.footer__explore-in-your-way {
    margin-right: 90px;
}

.footer__explore-in-your-way-heading {
    font-size: 1.6rem;
    width: 200px;
}

.footer__explore-in-your-way-list {
    padding: 0;
}
.footer__explore-in-your-way-type {
    list-style: none;
}

.footer__explore-in-your-way-type:hover a {
    color: #f65e39;
}

.footer__explore-in-your-way-type a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #222;
    line-height: 1.9;
}

.footer__contact-more {
    margin-right: 90px;
}

.footer__contact-more-heading {
    font-size: 1.6rem;
    width: 200px;
}

.footer__contact-more-list {
    padding: 0;
}

.footer__contact-more-text a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #222;
    line-height: 1.9;
}

.footer__contact-more-text:hover a {
    color: #f65e39;
}

.footer__contact-more-text {
    list-style: none;
}

.footer__download-app-heading {
    font-size: 1.6rem;
    width: 200px;
}

.app__download-img {
    display: block;
    width: 104px;
    height: 32px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
}

.check-out {
    flex-basis: 70%;
    max-width: 70%;
}

.certification {
    flex-basis: 20%;
    max-width: 20%;
}

.check-out-link {
    display: flex;
}

.check-out-heading {
    font-size: 1.4rem;
}

.check-out-item {
    list-style: none;
}

.check-out-item-visa,
.check-out-item-mastercard,
.check-out-item-maestro {
    width: 100px;
    height: 60px;
}

.certification__link {
    display: flex;
}

.certification-btc-img,
.certification-dmca-img {
    width: 94px;
    height: 36px;
    padding: 0 8px;
}

.certification__heading {
    font-size: 1.4rem;
}

.follow-us__link {
    display: flex;
}

.follow-us__heading {
    font-size: 1.4rem;
}

.follow-us__item-youtube {
    padding-left: 12px;
}

.follow-us__item-facebook {
    padding-left: 12px;
}

.footer__bottom {
    margin-top: 50px;
}

.footer__bottom-content {
    text-align: center;
}

.footer__bottom-content p {
    font-size: 1.4rem;
    color: #9fa19f;
}
